{
  "swagger": "2.0",
  "info": {
    "version": "2020-03-15",
    "title": "StoragePoolManagement",
    "description": "Exposes Azure Managed Disks as targets through a storage protocol",
    "x-ms-code-generation-settings": {
      "name": "storagepoolClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.StoragePool/operations": {
      "get": {
        "tags": [
          "StoragePoolOperations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of StoragePool operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/2020-03-15/definitions.json#/definitions/StoragePoolOperationListResult"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools": {
      "get": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_List",
        "description": "Gets a list of DiskPools.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../common/2020-03-15/definitions.json#/definitions/DiskPoolListResult"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Disk Pools": {
          "$ref": "./examples/DiskPools_ListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}": {
    "put": {
      "tags": [
        "DiskPools"
      ],
      "operationId": "DiskPools_Create",
      "description": "Create a new Disk Pool.",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolPayload"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/DiskPoolPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-long-running-operation": true,
      "x-ms-examples": {
        "Create or Update a Disk Pool": {
          "$ref": "./examples/DiskPools_PutOrPatch.json"
        }
      }
    },
    "patch": {
      "tags": [
        "DiskPools"
      ],
      "operationId": "DiskPools_Update",
      "description": "Update a Storage Pool.",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolPayload"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/DiskPoolPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Update Disk Pool": {
          "$ref": "./examples/DiskPools_PutOrPatch.json"
        }
      },
      "x-ms-long-running-operation": true
    },
    "delete": {
      "tags": [
        "DiskPools"
      ],
      "operationId": "DiskPools_Delete",
      "description": "Delete a Disk Pool.",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/DiskPoolPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-long-running-operation": true,
      "x-ms-examples": {
        "Delete a Disk Pool": {
          "$ref": "./examples/DiskPools_Delete.json"
        }
      }
    },
    "get": {
      "tags": [
        "DiskPools"
      ],
      "operationId": "DiskPools_Get",
      "description": "Get a Disk Pool.",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/DiskPoolPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get a Disk Pool": {
          "$ref": "./examples/DiskPools_Get.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}/iscsiTargets": {
    "get": {
      "description": "Get iSCSI Targets within a Disk Pool",
      "operationId": "DiskPoolIscsiTargets_List",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/IscsiTargetList"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-pageable": {
        "nextLinkName": "nextLink"
      },
      "x-ms-examples": {
        "List Disk Pools by Resource Group": {
          "$ref": "./examples/DiskPools_ListByResourceGroup.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}/iscsiTargets/{iscsiTargetName}": {
    "put": {
      "description": "Create or Update an iSCSI target",
      "operationId": "DiskPoolIscsiTargets_CreateOrUpdate",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetPayload"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/IscsiTargetPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-long-running-operation": true,
      "x-ms-examples": {
        "Create or Update an iSCSI Target": {
          "$ref": "./examples/IscsiTargets_PutOrPatch.json"
        }
      }
    },
    "patch": {
      "description": "Update an iSCSI Target",
      "operationId": "DiskPoolIscsiTargets_Update",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetPayload"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/IscsiTargetPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-long-running-operation": true,
      "x-ms-examples": {
        "Update an iSCSI Target": {
          "$ref": "./examples/IscsiTargets_PutOrPatch.json"
        }
      }
    },
    "delete": {
      "description": "",
      "operationId": "DiskPoolIscsiTargets_Delete",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "202": {
          "description": "Accepted"
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-long-running-operation": true,
      "x-ms-examples": {
        "Delete an iSCSI Target": {
          "$ref": "./examples/IscsiTargets_Delete.json"
        }
      }
    },
    "get": {
      "description": "",
      "operationId": "DiskPoolIscsiTargets_Get",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/DiskPoolName"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/IscsiTargetName"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "Ok",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/IscsiTargetPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get an iSCSI Target": {
          "$ref": "./examples/IscsiTargets_Get.json"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/providers/Microsoft.StoragePool/locations/{location}/operationStatus/{operationId}": {
    "get": {
      "description": "Get Operation Status",
      "operationId": "DiskPoolOperationStatus_Get",
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/Location"
        },
        {
          "$ref": "../../common/2020-03-15/parameters.json#/parameters/OperationId"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        }
      ],
      "responses": {
        "200": {
          "description": "OK",
          "schema": {
            "$ref": "../../common/2020-03-15/definitions.json#/definitions/OperationStatusPayload"
          }
        },
        "default": {
          "description": "Error from the RP",
          "schema": {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
          }
        }
      },
      "x-ms-examples": {
        "Get Operation Status": {
          "$ref": "./examples/OperationStatus_Get.json"
        }
      }
    }
  }
}
